/* DESKTOP */
@media (min-width: 992px) {
	.button:hover {
		background-color: #ffffff;
		color: #000000;
	}
	.button a:active {
		color: #ffffff;
	}
	/* HEADER */
	.nav-list a:after {
		background-color: #b9ff66;
		display: block;
		content: "";
		height: 2px;
		width: 0%;
		-webkit-transition: width 0.3s ease-in-out;
		-moz--transition: width 0.3s ease-in-out;
		transition: width 0.3s ease-in-out;
	}
	.nav-list a:hover:after,
	.nav-list a:focus:after {
		width: 65%;
	}
	.nav-btn:hover {
		background-color: #191a23;
		color: #f3f3f3;
	}
	.nav-btn:active {
		box-shadow: inset 0 0 50px rgba(100, 200, 100, 0.5);
	}
	/* MAIN */
	/* SERVICES */
	.card-dark a:hover > svg {
		color: #a6a6a6 !important;
	}
	.card-dark a:hover > span {
		color: #a6a6a6 !important;
	}
	.services-info a:hover > svg {
		fill: #a6a6a6;
		transition: 0.2s ease-in;
	}
	.services-info a:hover > span {
		color: #a6a6a6;
		transition: 0.2s ease-in;
	}
	/* PROPOSEL */
	.proposel-info button:hover {
		background-color: #ffffff;
		color: #000000;
	}
	/* STUDIES */
	.studies-item a:hover > svg {
		fill: #a6a6a6;
		transition: 0.2s ease-in;
	}
	.studies-item a:hover > span {
		color: #a6a6a6;
		transition: 0.2s ease-in;
	}
	/* ACCORDION */
	.accordion-top h2 {
		padding: 0px 7px 0px 7px;
		border-radius: 7px;
		background-color: #b9ff66;
	}
	.accordion-top h2 > span {
		padding: 0;
		border-radius: unset;
		background-color: unset;
	}
	.accordion-item button:hover {
		cursor: pointer;
	}
	.team-item svg:hover {
		fill: #f3f3f3;
	}
	/* TESTIMINATION */
	.swiper-button-prev svg:hover,
	.swiper-button-next svg:hover {
		fill-opacity: 0.6;
		transition: 0.3s ease-in;
	}
	/* CONTACT */
	.contact-form button:hover {
		background-color: #ffffff;
		color: #000000;
	}
	/* FOOTER */
	.footer a:hover {
		color: #e4e2e2;
	}
	.footer-form button:hover {
		background-color: #f3f3f3;
	}
}
@media (max-width: 1239px) {
	/* TEAM */
	.team-items {
		grid-template-columns: repeat(2, auto);
		column-gap: 40px;
	}
}
@media (max-width: 1159px) {
	h1 {
		font-size: 54px;
		line-height: 71px;
	}
	/* HEADER */
	.nav,
	.nav-list {
		gap: 20px;
	}
	.nav-btn {
		padding: 15px 30px;
	}
	/* MAIN */
	/* ABOUT */
	.about {
		margin-top: 50px;
	}
	.about-top img {
		max-width: 500px;
		max-height: 415px;
	}
	/* PROPOSEL */
	.proposel-content img {
		right: 60px;
	}
	/* FOOTER */
	.footer-form {
		flex-wrap: wrap;
	}
	.footer-form input,
	.footer-form button {
		width: 100%;
	}
}
@media (max-width: 1099px) {
	/* MAIN */
	/* SERVICES */
	.services-info img {
		max-width: 165px;
		margin: auto auto 50px auto;
	}
	/* FOOTER */
	.footer-list {
		gap: 25px;
	}
}
/* TOUCH SCREEN*/
@media (max-width: 991px) {
	#about,
	#services,
	#cases,
	#pricing,
	#blog {
		scroll-margin-top: 150px;
	}
	h1 {
		font-size: 46px;
		line-height: 60px;
	}
	p > br {
		display: none;
	}
	a {
		text-decoration: none;
	}
	.logo {
		width: 200px;
	}
	/* HEADER */
	.header {
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10000;
		padding: 30px 0;
	}
	.nav-burger {
		display: flex;
	}
	.nav-burger span {
		border-radius: 5px;
	}
	.nav {
		display: none;
		flex-direction: column;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 50;
		overflow-y: auto;
		padding: 50px 40px;
		background-color: white;
		animation: burgerAnimation 0.4s;
	}
	.nav-list {
		flex-direction: column;
		align-items: center;
		row-gap: 30px;
	}
	@keyframes burgerAnimation {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	/* MAIN */
	/* ABOUT */
	.about-btn,
	.about-btn:active,
	.about-btn:visited {
		width: 100%;
	}
	.about {
		margin-top: 40px;
	}
	.about-top img {
		max-width: 361px;
		max-height: 310px;
		top: 45px;
	}
	.about-info {
		max-width: 55%;
	}
	/* SERVICES */
	.services-info h3 {
		font-size: 26px;
		line-height: 33px;
	}
	.services-info a > span {
		display: none;
	}
	.services-cards {
		grid-auto-rows: 318px;
		row-gap: 34px;
	}
	/* PROPOSEL */
	.proposel-info {
		margin: 50px;
	}
	.proposel-content img {
		position: relative;
		width: 210px;
		top: 50px;
		bottom: 0;
		right: 35px;
	}
	/* STUDIES */
	.studies-items {
		column-gap: 30px;
	}
	.studies-item a {
		gap: 9px;
	}
	/* ACCORDION */
	.accordion-wrapper {
		/* padding: 36px; */
	}
	.accordion-top h2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: unset;
	}
	.accordion-top h2 > span {
		display: inline-block;
		background-color: #b9ff66;
		padding: 0px 7px 0px 7px;
		border-radius: 7px;
		width: max-content;
	}
	.accordion-top p > span {
		display: inline;
	}
	.accordion-item h3::before {
		font-size: 45px;
	}
	.accordion-item h3 {
		font-size: 24px;
		line-height: 38px;
	}
	.accordion-item button[aria-expanded="false"] {
		padding: 41px;
	}
	.accordion-item button[aria-expanded="true"] {
		padding: 41px 41px 30px;
	}
	.accordion-content hr {
		left: 40px;
		width: 91%;
	}
	.accordion-content p {
		padding: 30px 40px;
	}
	.accordion-item button .accordion-icon {
		top: 55px;
		right: 44px;
		width: 44px;
		height: 44px;
	}
	.accordion-item button .accordion-icon::before {
		top: 19px;
		left: 12px;
		width: 18px;
		height: 5px;
	}
	.accordion-item button .accordion-icon::after {
		top: 12px;
		left: 19px;
		height: 18px;
		width: 5px;
	}
	/* TESTIMINATIONS */
	.testimination-slide-main {
		width: auto;
	}
	.testimination-slide-main::before,
	.testimination-slide-main::after {
		left: 70px;
	}
	.testimination-slide-bottom {
		margin-left: 96px;
	}
	.swiper-button-prev {
		left: var(--swiper-navigation-sides-offset, 241px);
	}
	.swiper-button-next {
		right: var(--swiper-navigation-sides-offset, 231px);
	}
	/* FOOTER */
	.footer {
		margin-top: 90px;
	}
	.footer a {
		text-decoration: none;
	}
	.footer-wrapper {
		position: relative;
	}
	.footer-top {
		flex-direction: column;
		gap: 37px;
		margin-bottom: 37px;
	}
	.footer-list {
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}
	.foooter-socials {
		position: absolute;
		bottom: 165px;
	}
	.footer-main {
		flex-direction: column;
		gap: 37px;
		padding-bottom: 104px;
	}
	.footer-contacts {
		align-items: center;
		text-align: center;
		gap: 15px;
	}
	.footer-contacts h4 {
		margin-bottom: 22px;
	}
	.footer-contacts p > br {
		display: block;
	}
	.footer-bottom {
		justify-content: space-between;
		gap: 35px;
	}
}
@media (max-width: 759px) {
	#about,
	#services,
	#cases,
	#pricing,
	#blog {
		scroll-margin-top: 100px;
	}
	/* HAEDER */
	.logo {
		width: 144px;
	}
	/* MAIN */
	/* ABOUT */
	.about-top {
		display: block;
	}
	.about-top img {
		position: static;
		margin: 0px auto;
	}
	.about-info {
		max-width: 100%;
	}
	.about-info h1 {
		font-size: 43px;
		line-height: 55px;
		margin-bottom: 10px;
		text-align: center;
	}
	.about-info p {
		font-size: 16px;
		line-height: 24px;
		margin: 20px 0px 40px 0px;
	}
	/* SERVICES */
	.services,
	.studies,
	.accordion,
	.team {
		margin-top: 60px;
	}
	.top-basic {
		margin-bottom: 42px;
	}
	.services-info h3 {
		font-size: 30px;
		line-height: 38px;
	}
	.services-info img {
		max-width: 210px;
		margin: auto 0;
	}
	.services-info a > span {
		display: inline-block;
	}
	.services-cards {
		grid-template-columns: repeat(1, 1fr);
	}
	/* PROPOSEL */
	.proposel {
		margin-top: 70px;
	}
	.proposel-info {
		max-width: 100%;
		margin: 50px;
	}
	.proposel-info button {
		width: 100%;
		padding: 20px 15px;
	}
	.proposel-content img {
		display: none;
	}
	/* STUDIES */
	.studies-info {
		background-color: #ffffff;
		border-radius: unset;
	}
	.studies-info > .swiper-wrapper {
		position: relative;
		width: 100%;
	}
	.studies-items {
		padding: 0;
		gap: 0;
	}
	.studies-items hr {
		display: none;
	}
	.studies-items > .swiper-slide {
		flex-shrink: 0;
	}
	.studies-item {
		background-color: #191a23;
		padding: 42px 50px;
		border-radius: 45px;
		max-width: 350px;
		min-height: 252px;
		row-gap: 20px;
	}
	/* ACCORDION */
	.accordion-item button[aria-expanded="false"] {
		padding: 35px;
	}
	.accordion-item button[aria-expanded="true"] {
		padding: 35px 35px 30px;
	}
	.accordion-content hr {
		left: 35px;
		width: 89%;
	}
	.accordion-content p {
		padding: 30px 35px 35px;
	}
	/* TEAM */
	.team-items {
		grid-template-columns: repeat(1, auto);
		column-gap: 30px;
	}
	/* TESTIMINATIONS */
	.testimination-swiper {
		padding: 30px 0px 134px 0px;
	}
	.testimination-slide-main {
		margin: 0 30px;
	}
	.testimination-slide-main p {
		padding: 30px;
	}
	.swiper-button-prev,
	.swiper-button-next {
		top: 440px;
	}
	.swiper-button-prev {
		left: var(--swiper-navigation-sides-offset, 110px);
	}
	.swiper-button-next {
		right: var(--swiper-navigation-sides-offset, 100px);
	}
}
@media (max-width: 639px) {
	h3 {
		font-size: 26px;
		line-height: 33px;
	}
	p,
	a:not(.button) {
		font-size: 16px;
		line-height: 24px;
	}
	/* PROPOSEL */
	.proposel-content {
		max-height: 370px;
	}
	.proposel-info h3,
	.proposel-info p {
		margin-bottom: 20px;
	}
	/* FOOTER */
	.footer > .container {
		background-color: #191a23;
	}
	.footer-wrapper {
		border-radius: unset;
	}
	.foooter-socials {
		bottom: 190px;
	}
	.footer-form input::placeholder {
		font-size: 16px;
		line-height: 24px;
	}
	.footer-bottom {
		flex-direction: column;
		gap: 15px;
		padding-top: 37px;
	}
}
@media (max-width: 559px) {
	/* ABOUT */
	.about-top img {
		max-width: 100%;
	}
	/* SERVICES */
	.services {
		margin-top: 60px;
	}
	.top-basic {
		flex-direction: column;
		gap: 30px;
		margin-bottom: 30px;
	}
	.top-basic h2 {
		font-size: 36px;
		line-height: 46px;
		margin: 0 auto;
	}
	.top-basic p {
		text-align: center;
	}
	.services-cards {
		grid-auto-rows: 318px;
	}
	.services-info h3 {
		font-size: 26px;
		line-height: 32px;
	}
	.services-info img {
		max-width: 165px;
		margin: auto auto 50px auto;
	}
	.services-info a > span {
		display: none;
	}
	/* PROPOSEL */
	.proposel-info {
		margin: 35px;
	}
	.proposel-info button {
		line-height: 28px;
		font-size: 16px;
	}
	/* ACCORDIOM */
	.accordion-items {
		gap: 20px;
	}
	.accordion-item h3::before {
		font-size: 30px;
		line-height: 38px;
		padding-right: 20px;
	}
	.accordion-item h3 {
		font-size: 18px;
		line-height: 23px;
	}
	.accordion-item button .accordion-icon {
		width: 30px;
		height: 30px;
		top: 4px;
	}
	.accordion-item button .accordion-icon::before {
		top: 12px;
		left: 9px;
		width: 12.6px;
		height: 4px;
	}
	.accordion-item button .accordion-icon::after {
		top: 8px;
		left: 13px;
		height: 12.6px;
		width: 4px;
	}
	.accordion-item button[aria-expanded="false"] {
		padding: 30px;
	}
	.accordion-item button[aria-expanded="false"] > .accordion-icon {
		bottom: 4px;
		margin: auto 0;
	}
	.accordion-item button[aria-expanded="true"] {
		padding: 30px;
	}
	.accordion-item button[aria-expanded="true"] > .accordion-icon {
		margin: auto;
		top: 0;
		bottom: 0px;
	}
	.accordion-content hr {
		left: 30px;
		width: 87%;
	}
	.accordion-content p {
		padding: 30px;
	}
	/* TEAM */
	.team-items {
		min-width: 100%;
	}
	.team-wrapper {
		padding: 40px 50px;
	}
	.team-header {
		padding-bottom: 20px;
	}
	.team-bio h4 {
		font-size: 18px;
		font-weight: 500;
		line-height: 23px;
	}
	.team-content {
		padding-top: 20px;
	}
	.team-btn {
		position: static;
		width: 100%;
	}
	/* TESTIMINATIONS */
	.testimination-swiper {
		height: 554px;
	}
	.testimination-slide-main::before,
	.testimination-slide-main::after {
		left: 40px;
	}
	.testimination-slide-bottom h4 {
		font-size: 18px;
	}
	.testimination-slide-bottom p {
		font-size: 16px;
	}
	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		left: 0;
	}
	.swiper-button-prev,
	.swiper-button-next {
		top: 497px;
	}
	.swiper-button-prev {
		left: var(--swiper-navigation-sides-offset, 30px);
	}
	.swiper-button-next {
		right: var(--swiper-navigation-sides-offset, 30px);
	}
	/* CONTACT */
	.contact-main img {
		display: none;
	}
	.contact-main {
		padding: 40px 30px 50px;
	}
	.contact-radio {
		justify-content: space-around;
	}
	.contact-radio label {
		font-size: 16px;
	}
	.contact-text {
		margin: 46px 0;
	}
	.contact-text label {
		font-size: 14px;
		margin-bottom: 10px;
	}
	.contact-text input {
		margin-bottom: 20px;
	}
	.contact-text textarea {
		min-height: 132px;
	}
	.contact-text input,
	.contact-text textarea {
		padding: 18px 20px;
	}
	.contact-text input::placeholder,
	.contact-text textarea::placeholder {
		font-size: 16px;
		line-height: 24px;
	}
	/* FOOTER */
	.footer-wrapper {
		padding: 50px 0px 30px;
	}
	.foooter-socials {
		bottom: 165px;
	}
}
@media (max-width: 429px) {
	p {
		font-size: 14px;
	}
	.top-basic {
		gap: 20px;
		margin: 0px 20px 20px 20px;
	}
	#about,
	#services,
	#cases,
	#pricing,
	#blog {
		scroll-margin-top: 75px;
	}
	/* HEADER */
	.header {
		padding: 20px 0;
	}

	/* STUDIES */
	.studies-item {
		padding: 35px;
	}
	/* ACCORDION */
	.accordion-item button .accordion-icon {
		right: 30px;
	}
	.accordion-content hr {
		width: 84%;
	}

	/* TEAM */
	.team-wrapper {
		padding: 30px;
	}
	.team-bio h4 {
		font-size: 16px;
	}
	/* TESTIMINATIONS */
	.testimination-slide-main {
		margin: 0px 20px;
	}
	.testimination-slide-bottom {
		margin-left: 60px;
	}
	/* CONTACT */
	.contact > .container {
		background-color: #f3f3f3;
		border-radius: 45px;
	}
	.contact-main {
		padding: 40px 20px;
	}
	/* FOOTER */
	.footer-form {
		padding: 40px 30px;
	}
}
@media (max-width: 359px) {
	.container {
		padding: 0px 10px;
	}
	/* SERVICES */
	.services-cards {
		grid-auto-rows: 275px;
	}
	.services-card {
		padding: 35px;
	}
	.services-info h3 {
		font-size: 22px;
		line-height: 28px;
	}
	.services-info img {
		max-width: 125px;
		margin-bottom: 35px;
	}
	/* ACCORDION */
	.accordion-item button .accordion-icon {
		right: 30px;
	}
	.accordion-item button[aria-expanded="false"] > .accordion-icon {
		bottom: 3px;
	}
	.accordion-item button[aria-expanded="false"],
	.accordion-item button[aria-expanded="true"],
	.accordion-content p {
		padding: 25px 30px;
	}
	.accordion-content hr {
		width: 81%;
	}
	/* TEAM */
	.team-items {
		row-gap: 30px;
	}
	.team-header {
		flex-direction: column-reverse;
	}
	.team-header img {
		margin: 0 auto;
		width: 50%;
	}
	.team-bio {
		position: static;
		margin-bottom: 20px;
		margin-right: 32px;
	}
	.team-btn {
		margin-top: 30px;
	}
	/* TESTIMINATIONS */
	.testimination-swiper {
		padding-top: 15px;
		height: 545px;
	}
	.testimination-slide-main {
		margin: 0 15px;
	}
	.testimination-slide-main p {
		padding: 25px;
	}
	.testimination-slide-bottom {
		margin-left: 30px;
		margin-right: 30px;
	}
	.swiper-button-prev,
	.swiper-button-next {
		top: 488px;
	}
	/* CONTACT */
	.contact-main {
		padding: 30px;
	}
	.contact-radio {
		justify-content: space-between;
	}
	.contact-radio label {
		align-items: center;
		flex-direction: column;
	}
	.contact-text {
		margin: 40px 0;
	}
	/* FOOTER */
	.footer-form {
		padding: 30px 25px;
	}
	.footer-form input,
	.footer-form button {
		padding: 16px 25px;
	}
}
